{% extends "./base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
    <div class="container wrapper">
        <div class="left">
            <div class="left-heading">
                设备列表
            </div>
            <ul class="list-group">
                {% for device in devices %}
                    <a href="" class="list-group-item">{{device.sn}}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            <ul class="nav nav-tabs">
                {% if request.path == "/device/baidu"%}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('web.device_baidu')}}">百度地图</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('web.device_google')}}">谷歌地图</a>
                    </li>
                {% elif request.path == "/device/google" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('web.device_baidu')}}">百度地图</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('web.device_google')}}">谷歌地图</a>
                    </li>
                {% endif %}
                </ul>
            <div id="map" class="map"></div>
        </div>
    </div>
{% endblock %}
