{% extends "./base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
    <div class="container wrapper">
        <div class="left">
            <div class="left-heading">
                门店列表
                <a class="float-right" href="{{url_for('web.shop_add')}}">添加门店</a>
            </div>
            <div class="list">
                {% for shop in shops %}
                    <div class="shop">
                        <div>
                            <a href="javascript:;" data-index="{{loop.index}}" class="shopName">{{shop.name}}</a>
                            <a href="{{url_for('web.shop_delete', id=shop.id)}}" data-index="{{loop.index}}" class="delete float-right text-danger" href=""><small>删除</small></a>
                        </div>
                        <div class="shop-address">{{shop.province}}{{shop.city}}{{shop.area}}，{{shop.address}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content">
            <ul class="nav nav-tabs">
                {% if request.path == "/"%}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('web.index')}}">百度地图</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('web.google')}}">谷歌地图</a>
                    </li>
                {% elif request.path == "/google" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('web.index')}}">百度地图</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('web.google')}}">谷歌地图</a>
                    </li>
                {% endif %}
                </ul>
            <div id="map" class="map"></div>
        </div>
    </div>
{% endblock %}
