{% extends "./base.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block content %}
    <div class="container wrapper">
        <div class="left">
            <div class="left-heading">
                添加门店
                <a class="float-right" href="{{url_for('web.index')}}">门店列表</a>
            </div>
            <form class="form" action="{{url_for('web.shop_add')}}" method="post">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="form-group">
                    <label for="exampleInputEmail1">门店名称</label>
                    <input name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="填写门店名称">
                    {% if get_flashed_messages() and get_flashed_messages()[0] and get_flashed_messages()[0].name %}
                        <small class="form-text text-danger">{{get_flashed_messages()[0].name[0]}}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="provinceCode">所在地区</label>
                    <select id="provinceCode" name="provinceCode" class="form-control">
                        <option value="">请选择省</option>
                        {% for province in provinces %}
                        <option value="{{province.code}}">{{province.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="province" name="province" />
                    {% if get_flashed_messages() and get_flashed_messages()[0] and get_flashed_messages()[0].province %}
                        <small class="form-text text-danger">{{get_flashed_messages()[0].province[0]}}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <select id="cityCode" class="form-control">
                        <option value="">请选择市</option>
                    </select>
                    <input type="hidden" name="city" id="city" />
                    {% if get_flashed_messages() and get_flashed_messages()[0] and get_flashed_messages()[0].city %}
                        <small class="form-text text-danger">{{get_flashed_messages()[0].city[0]}}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <select id="areaCode" class="form-control">
                        <option value="">请选择区</option>
                    </select>
                    <input type="hidden" name="area" id="area" />
                    {% if get_flashed_messages() and get_flashed_messages()[0] and get_flashed_messages()[0].area %}
                        <small class="form-text text-danger">{{get_flashed_messages()[0].area[0]}}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="">详细地址</label>
                    <input id="address" name="address" type="text" class="form-control">
                    {% if get_flashed_messages() and get_flashed_messages()[0] and get_flashed_messages()[0].address %}
                        <small id="emailHelp" class="form-text text-danger">请填写详细地址！</small>
                    {% endif %}
                </div>
                <input type="hidden" name="longitude" id="longitude" />
                <input type="hidden" name="latitude" id="latitude" />
                <div class="form-group">
                    <button class="btn btn-primary form-control">保存</button>
                </div>
            </form>
        </div>
        <div id="map" class="content">

        </div>
    </div>
{% endblock %}
{% block script %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_LRBqM0Z0JGSf8qZ_rJRRQOzeROIphFI&language=zh-CN"></script>
<!--<script src="http://api.map.baidu.com/api?v=3.0&ak=IFGBl3dI3WlaABQh3cNm1UILTEUrTO0d"></script>-->
<script src="{{url_for('static', filename='js/locations.js')}}"></script>
<script src="{{url_for('static', filename='js/map_add.js')}}"></script>
{% endblock %}